<h1>Department of Charitable Gaming Training</h1>
<h2>Online Registration</h2>
<h3>Welcome!</h3>
<h4>The Department of Charitable Gaming welcomes you to the Department's Online, Self-Scheduling, Reservations for Charitable Gaming Training. Training seminars are available for charitable organizations in our Frankfort office and throughout the state. There is no charge to the organizations or attendees.

  Subject areas are Bingo, Pulltabs, Raffles, Special Events, Session Worksheets, Financial Reports and Internal Control Procedures. Seating capacity is limited, so please register for training today.
  
  Should you require assistance, please contact the Department at (502) 573-5528</h4>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Home</button>
  <button mat-menu-item type="button" (click)="goRegister()">Register For Training</button>
</mat-menu>
